@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f9fafb; /* gray-50 */
  color: #111827; /* gray-900 */
}

body {
  margin: 0;
  min-height: 100vh;
  /* Add a subtle gradient background */
  background: radial-gradient(circle at top center, #ffffff 0%, #f3f4f6 70%);
  background-attachment: fixed;
}
